*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
p{
    font-size: 14px;
    font-weight: normal;

}

.header .search input{
    width: 500px;
}
.offers:hover .navbar-brand{
    color: blue;
}

.offers img{
    width: 70px;
    
}
.offers a{
    text-decoration: none;
    color: black;
    

}
.offers a:hover{
    color: black;
}
.mid{
    background: rgb(223, 250, 250);
}
.text img{
    margin-top: 10px;
    height: 370px;
    width: 200px;
}


.itemmm img{
   
    height: 100px;
    transition:  0.3s all;
}

.itemmm :hover img{
    opacity:0.7;
   
}
.itemmm1 button{
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
    width: 100px;
    text-align: right;
}
.itemmm1:hover button{
    transform: translateY(0);
    opacity: 1;
    
}
.part1{
    background-color: azure;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}
.end{
    margin: 10px 10px;
    background-color: azure;
}
.end p,pre{
    font-size: 12px;

}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}